.App {
  font-family: "Roboto", sans-serif;
  max-width: 1024px;
  margin: 10px auto;
}

header {
  height: 150px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
}
header h1 {
  font-size: 40px;
}
header input {
  width: 65%;
  height: 40px;
  background-color: #f8efef;
  border: none;
  font-size: 20px;
  text-align: center;
}

.emoji {
  padding: 20px;
  margin: 10px 0;
  width: 100%;
  height: 30px;
  font-size: 25px;
  background-color: rgb(252, 250, 250);
}
.emoji p {
  display: flex;
  justify-content: space-between;
}
.hidden {
  font-size: 16px;
  visibility: hidden;
}
.emoji:hover {
  background-color: #f8efef;
}
.emoji:hover .hidden {
  visibility: visible;
}
